@font-face {
  font-family: "Norse";
  src: url("./fonts/Norse-Bold.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  height: 100vh;
}
main div {
  flex: 1;
}
main > div:first-child {
  background-image: url("./assets/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  flex-grow: 0.5;
  position: relative;
}
main > div:nth-child(2) {
  align-self: center;
}
.logo {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.logo img {
  width: 80px;
  height: 100px;
}
.logo span {
  font-family: "Norse";
  color: white;
  font-size: 5rem;
}
.credits {
  position: absolute;
  color: white;
  bottom: 5px;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}
a {
  color: white;
}
.form-row {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
  justify-content: start;
}
.form-row div {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}
form {
  margin-top: 50px;
}
.fieldset {
  margin-bottom: 30px;
  padding: 20px 40px;
  width: 100%;
  box-shadow: 0px 2px 10px -4px black;
}
label {
  font-size: 0.6rem;
  margin-bottom: 2px;
  font-weight: lighter;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border: 1px solid blue;
  box-shadow: 0px 2px 10px -4px black;
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 220px;
  padding: 2px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}
input[type="password"]:invalid {
  border: 1px solid red;
}
div > p {
  margin-left: 40px;
  font-weight: 600;
  width: 80%;
}
.fieldset > p {
  margin-left: 0px;
}
form p {
  margin-bottom: 20px;
  font-weight: 600;
}
button {
  margin-left: 40px;
  background-color: #596d48;
  padding: 10px 25px;
  border: 0.5px solid black;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
form > p:last-child {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 0.8rem;
  font-weight: normal;
}
.login {
  color: green;
  text-decoration: none;
}
main > div:nth-child(2) > p:nth-child(3) {
  margin-top: 15px;
}
